@model IEnumerable<ToDoList.Models.Category>
@{
    ViewData["Title"] = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>To Do List</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name])
        </th>
        <th>
<!--            @Html.DisplayNameFor(model => model.Category)-->

            Blank
        </th>
        <th></th>
    </tr>

    @foreach (var listCategory in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listItem.Name)
            </td>
            <td>
<!--                @Html.DisplayFor(modelItem => listItem.Category.Name)-->
            Blank
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listCategory.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = listCategory.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = listCategory.CategoryID })
            </td>
        </tr>
    }
</table>
    <p>@Html.ActionLink("Create new category", "Create")</p>